@model SocNetwork_.ViewModels.FriendsViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    body {
        font-family: Arial;
    }

    * {
        box-sizing: border-box;
    }

    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }

    form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }

        form.example button:hover {
            background: #0b7dda;
        }

    form.example::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
<style>
    body {
        margin-top: 20px;
        background: #FAFAFA;
    }
    /*==================================================
    Nearby People CSS
    ==================================================*/

    .people-nearby .google-maps {
        background: #f8f8f8;
        border-radius: 4px;
        border: 1px solid #f1f2f2;
        padding: 20px;
        margin-bottom: 20px;
    }

        .people-nearby .google-maps .map {
            height: 300px;
            width: 100%;
            border: none;
        }

    .people-nearby .nearby-user {
        padding: 20px 0;
        border-top: 1px solid #f1f2f2;
        border-bottom: 1px solid #f1f2f2;
        margin-bottom: 20px;
    }

    img.profile-photo-lg {
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }
</style>
<div class="container text-center">
    <div class="row">
        <div class="col-sm-3 well">
            <div class="well">
                <p>
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Profile</a>
                </p>
                <img src="data:image/png;base64, @Model.User.ProfilePicture" class="img-circle" height="65" width="65" alt="Avatar">
                <p>
                    @Model.User.firstName @Model.User.lastName
                </p>
            </div>
            <div class="well">
                <p><a href="#">Interests</a></p>
                <p>
                    <span class="label label-default">News</span>
                    <span class="label label-success">Labels</span>
                    <span class="label label-info">Football</span>
                    <span class="label label-warning">Gaming</span>
                    <span class="label label-danger">Friends</span>
                </p>
            </div>
            <p><a asp-controller="Home" asp-action="Photos">Photos</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default text-left">
                        <div class="panel-body">
                            <form class="example">
                                <input type="text" placeholder="Search.." name="UserInputName" id="UserInputName">
                                <button asp-action="Search" type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Friends != null)
            {
                @foreach (var item in Model.Friends)
                {
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="people-nearby">
                                    <div class="nearby-user">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <img src="data:image/png;base64, @item.friendUser.ProfilePicture" alt="Red dot" class="profile-photo-lg">
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                                <h5> <input type="button" style="background-color:transparent" value="@item.friendUser.firstName @item.friendUser.lastName" onclick="location.href='@Url.Action("UserViewPage", "Search", new {id=@item.friendUser.Id })'" /></h5>
                                                <p>Software Engineer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>